# {{name}}

Bienvenido a Alumnithon, una iniciativa que busca acercar a los egresados del programa Oracle Next
Education (ONE) a un ambiente profesional de desarrollo a través de un emocionante hackathon. Esta
experiencia única permite a los participantes demostrar sus habilidades técnicas, trabajar en equipo
y conectar con empresas que buscan talento joven.

## Hackathon Edicion {{current_year}}

### Condiciones

- Duración: 4 semanas
- Fecha: 10 de Junio 2025 - 28 de Junio 2025
- Modalidad: Remoto
- Participantes: Egresados del programa Oracle Next Education
- Herramientas: GitHub, Discord, Trello, y otras herramientas de colaboración

### Objetivo

El objetivo del hackathon es desarrollar un proyecto innovador que resuelva un problema real o
mejore un proceso existente. Los participantes tendrán la oportunidad de aplicar sus conocimientos
en programación, diseño y gestión de proyectos, mientras trabajan en equipo para crear una solución
funcional.

### Definición de Grupos

- Cada grupo estará formado por 10 participantes
- Los equipos serán formados de por huso horario y habilidades complementarias
- Se fomentará la diversidad en los equipos para enriquecer la experiencia de aprendizaje
### Roles y Responsabilidades
- Se asignará un mentor técnico por equipo
- El equipo consta de roles backend y frontend
- Cada equipo deberá designar:
  - Un líder de proyecto
  - Roles técnicos según las necesidades del proyecto

### Evaluación

Los proyectos serán evaluados según los siguientes criterios:

{{criterios}}

### ¿Cómo participar?

1. Asegúrate de ser egresado del programa Oracle Next Education
2. Únete al servidor de Discord del evento
4. Espera la confirmación de tu equipo

Para más información, mantente atento a los canales oficiales.
